{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
{% include 'navbar.html' %}
{% include 'carousel.html' %}
  <div class="ui large header icon center aligned">
    <i class="circular users icon"></i>
    Neighbourhoods
  </div>

<div class="ui grid">
  <div class="six wide column">
    <div class="ui medium header">
      Add your neighbourhood here
    </div>
    <form class="ui form" action="{% url 'index' %}" method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      <button class="ui inverted violet button animated" type="submit">
        <div class="visible content">
          Add neighbourhood
        </div>
        <div class="hidden content">
          <i class="plus circle icon"></i>
        </div>
      </button>
    </form>
  </div>

  <div class="ten wide column">
    {% for nhood in nhoods %}
    <button class="large ui button">
      {{nhood.name}}
    </button>
    {% endfor %}
  </div>
</div>
<!-- Add neighbourhood form -->
{% endblock %}
