{% extends 'base.html' %}
{% block content %}
<div class="ui secondary top fixed menu inverted  violet">
  <div class="header item">
    MY HOOD
  </div>
  <a class="item active" href="{% url 'index' %}">
    Home
  </a>
  <a class="item" href="#hoods">
    Neighbourhoods
  </a>
  <div class="right menu">
    <form class="item ui search">
      <div class="ui icon input">
        <input type="text" placeholder="Search..." class="prompt">
        <i class="search link icon"></i>
      </div>
    </form>
    {% if request.user.is_authenticated %}
      <a class="ui item" href="{% url 'userprofile' %}">
        Account
      </a>
      <a class="ui item" href="/logout">
        Logout
      </a>
    {% else %}
    <a class="ui item" href="accounts/register">
      Register
    </a>
    {% endif %}
  </div>
</div>

{% endblock %}
