{% extends 'base.html' %}
{% block content %}
<div class="ui secondary  menu">
  <div class="header item">
    My HOOD
  </div>
  <a class="item">
    Home
  </a>
  <a class="item">
    Messages
  </a>
  <a class="item active">
    Friends
  </a>
  <div class="right menu">
    <form class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </form>
    <a class="ui item">
      Logout
    </a>
  </div>
</div>
{% endblock %}
